body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body::-webkit-scrollbar{
  width: 12px;
 
} 
body::-webkit-scrollbar-thumb{
  background:rgb(104, 0, 202);
  border-radius:15px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover{
  cursor: pointer;
  background:rgb(109, 2, 231);
}
