.footer {
  margin: 100px 200px 20px 20px;
  .top {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 1rem;
    }

    h2 {
      // font-size: 18px;
      // font-weight: 500;
      color: rgb(82, 80, 80);
    }

    span {
      color: rgb(161, 158, 158);
    }
  }
  .bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .left{
      display: flex;
      align-items: center;
      gap: 30px;
      .logo{
        
        color: rgb(186, 9, 221);
        font-size: 18px;
        font-weight: bold;
      }

      .copyright{
        margin-left: 20px;
        font-size: 10px;
        color :rgb(161, 158, 158);

      }
    }
    .right{
      img{
        height: 40px;
      }
    }
  }
}


@media (max-width: 500px) {
  .footer {
    gap: 20px;
    .top{
      .item{
        min-width: 300px;
      }
    }
    .bottom{
      .left{
        .copyright{
          min-width :200px;
        }

      }
      .right{
        img{
          height: 30px;
        }
      }
      
      
    }
  }
}