.contact {
  padding: 5px 20px;
  background-color: rgb(126, 33, 233);
  height: 70px;
  display: flex;
  gap: 20px;
  align-items: center;
  gap: 10px;
  
  justify-content: center;
  
 
  .wrapper {   
    display: flex;
    gap: 20px;
    height: 40px;
    flex: 3;
    align-items: center;
    justify-content: space-between;
    span{
      font-size: 18px;
      font-weight: 500;
    }
    .mail {
      height: 100%;
      button {
        background-color: black;
        color: white;
        height: 100%;
        width: 65px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      input{
        border: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 90%;
      
      }
    }
  }

  .icons {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    object-fit: contain;
    height: 60px;
    
  }
}

@media ((min-width : 501px ) and (max-width : 700px)) {
  .contact {
      
    .wrapper{
      span{
        font-size: 12px;
      }
      .mail{
        height: 80%;
        input{
          // width: 80%;  
        }
        // button{
        //   width: 40px;
        //   font-size: ;
        // }
      }
    }
  }
}
@media (max-width: 532px) {
    .contact {
      
      .wrapper{
        
        span{
          display: none;
        }
      }
    }
  }