.navbar{
  height: 60px;
  position: sticky;
  top: 1px;
  width: 100%;
  min-width: fit-content;
  z-index: 800;
  background-color: rgb(89, 11, 153);
  box-shadow: 2px 2px 10px 2px purple;
  .wrapper{
    background-color: rgba(112, 51, 153);
    height: 80%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: white;
    font-weight: 400;
    .item{
      display: flex; 
      align-items: center;
    }
    .left{
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .center{
      font: 18px;
      display: flex;
      align-items: center;
      letter-spacing: 5px;
    }
    .right{
      display: flex;
      align-items: center ;
      gap: 25px;
      
    }
    .icons{
      display: flex;
      align-items: center;
      gap: 25px;
      cursor: pointer;
      size: 5   0px;
    }

    .cart-icon{
      position: relative;
      
      span{
        font-size: 12px;
        position: absolute;
        width: 20px;
        height: 20px;
        top: -7px;
        right: -13px;
        border-radius: 50%;
        color: white;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

} 